:root {
  /* color palette */
  --mid: #3a4c5a;
  --gray: #2f303a;
  --dark: #201d1d;
  --light: #9a9ce7;
  --black: #0f0f11;
}

.App {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: var(--gray);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--light);
}

a {
  text-decoration: none;
}